
.logo {
    margin: 30px 0 0 -50px;
}

.nav-wrapper ul {
    display: inline-block;
}

.nav-wrapper li{
    display: inline-block;
    position: relative;  
    color: #687074;
    margin-top:50px;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 17px;
    padding: 5px 15px 5px 15px;
}

#nav-menu-home {
    color: #72c02c;
    border-bottom: 3px solid #72c02c;
}

.glyphicon-menu-down {
    color: #aaa;
    font-size: 10px;
}

.nav-menu-search a {
    color: #aaa;
}

.glyphicon-search {
    padding: 10px;
    font-size: 16px;
    border-bottom: 3px solid #aaa;
    background-color: #f7f7f7;
    margin: 0 0 0 -50px;
}